<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body style="text-align:center; background-color:#ffff4d; padding-top:20px">
<h1><b>Login</b></h1>
<form method="post" action="login">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit">
</form>

{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>